<div class="row">
  <div class="col-md-12">
    <h1>{{ job.jobName }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group" appDropdown #r="appDropdown">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Job <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}">
        <li><a style="cursor: pointer;" (click)="onEditJob()">&nbsp;Edit Job</a></li>
        <li><a style="cursor: pointer;">&nbsp;Delete Job</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <app-data-list></app-data-list>
  </div>
</div>